.header {
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    &__logo {
        max-width: 250px;
    }
    @media all and (max-width: 768px) {
        &__logo{
            max-width: 200px;
        }
    }
}